{% extends 'stats/base.html' %}
{% load form_tags %}

{% block title %}Add Tournament{% endblock %}

{% block content %}
<h1>Add Tournament</h1>
<form method="post" class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="form-group">
        <label for="id_name">Tournament Name</label>
        {{ form.name|add_class:"form-control" }}
    </div>
    <div class="form-group">
        <label for="id_teams">Teams</label>
        {{ form.teams }}
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endblock %}
